<div class="modal-container" style="">
  <div mat-dialog-title class="bg-beige">
    <h2>SELECT ORDER TO CONTINUE:</h2>
    <button
      mat-icon-button
      aria-label="cancel edit"
      mat-dialog-close
      class="btn btn-danger mr-3"
      (click)="close()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div>
      <!--Write info on what is present on current order-->
      <div
        *ngIf="
          incompleteOrdersOdoo && incompleteOrdersOdoo.length > 0;
          else noOrders
        "
      >
        <div
          *ngFor="let incompleteOrder of incompleteOrdersOdoo; let i = index"
          (click)="selectOrder(i)"
          class="info-card"
          [class.active]="incompleteOrder === selectedOrder"
        >
          <div
            id="deleteDraftButtonContainer"
            class="delete-draft-button-container"
          >
            <button
              class="btn btn-danger mr-3"
              style="margin-right: 1rem"
              (click)="deleteDraft(incompleteOrder)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <h2 *ngIf="incompleteOrder.order.customer.complete_name">
            CUSTOMER: {{ incompleteOrder.order.customer.complete_name }}
          </h2>
          <h2>PRODUCTS IN ORDER:</h2>
          <div *ngFor="let products of incompleteOrder.order.products">
            <!--Div for products-->
            <div class="order-details">
              <label>Product Name: {{ products.product.name }} </label>
              <label>Count: {{ products.count }} </label>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noOrders>
        <h2 style="text-align: center; margin-top: 1rem">
          There are no orders to resume
        </h2>
      </ng-template>
    </div>
    <div>
      <div class="confirm-or-deny-buttons">
        <button
          [disabled]="!selectedOrder"
          mat-icon-button
          aria-label="confirm edit"
          mat-dialog-close
          class="btn btn-success mr-3"
          style="margin-right: 1rem"
          (click)="resumeSelectedOrder()"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="cancel edit"
          mat-dialog-close
          class="btn btn-danger mr-3"
          (click)="close()"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
