<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title class="bg-beige">
    <h2>Customer Information Modal</h2>
    <button
      mat-icon-button
      aria-label="cancel edit"
      mat-dialog-close
      class="btn mr-3"
      (click)="close()"
    >
      <span class="close-button-span">X</span>
    </button>
  </div>

  <div mat-dialog-content>
    <div
      *ngIf="noDetails && displayMode == 'all'"
      style="display: flex; flex-direction: column"
    >
      <div *ngIf="availableCustomers.length > 0; else noCustomersOnFile">
        <!--FILTER GOES HERE-->
        <div style="display: flex; flex-direction: row">
          <div style="padding-right: 1rem; padding-bottom: 2rem">
            <input
              type="text"
              [(ngModel)]="searchString"
              placeholder="Filter By..."
              (ngModelChange)="filterCustomers()"
            />
          </div>

          <div>
            <button
              type="button"
              color="primary"
              class="create-customer-button"
              (click)="createCustomer()"
            >
              <mat-icon>person_add</mat-icon> Create Customer
            </button>
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 2rem;
          "
        >
          <button type="button" (click)="goToPage(0)">
            {{ 1 }}
          </button>
          <button
            type="button"
            (click)="goToPage(page - 1)"
            *ngIf="page - 1 > 0"
          >
            Previous Page
          </button>
          <button
            type="button"
            (click)="goToPage(page + 1)"
            *ngIf="page + 1 < maxPage"
          >
            Next Page
          </button>
          <button type="button" (click)="goToPage(maxPage)" *ngIf="maxPage > 0">
            {{ maxPage }}
          </button>
        </div>

        <div *ngFor="let customer of filteredCustomerList; let i = index">
          <div
            *ngIf="beforePage() <= i && i < afterPage()"
            class="customer-card"
          >
            <div (click)="selectCustomer(customer)">
              <div>Name: {{ customer.name }}</div>
              <div>Address: {{ customer.address }}</div>
              <div>
                Contact: <mat-icon>alternate_email</mat-icon
                >{{ customer.email }}
              </div>
              <div><mat-icon>phone</mat-icon>{{ customer.phone }}</div>
              <div>
                <mat-icon>phonelink_ring</mat-icon>{{ customer.mobile }}
              </div>
            </div>
            <button type="button" (click)="showCustomerDetail(customer)">
              <mat-icon>details</mat-icon> DETAILS
            </button>
          </div>
        </div>
        <div
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <button type="button" (click)="goToPage(0)">
            {{ 1 }}
          </button>
          <button
            type="button"
            (click)="goToPage(page - 1)"
            *ngIf="page - 1 > 0"
          >
            Previous Page
          </button>
          <button
            type="button"
            (click)="goToPage(page + 1)"
            *ngIf="page + 1 < maxPage"
          >
            Next Page
          </button>
          <button type="button" (click)="goToPage(maxPage)" *ngIf="maxPage > 0">
            {{ maxPage }}
          </button>
        </div>
      </div>
      <ng-template #noCustomersOnFile>
        THERE ARE NO CUSTOMERS? THIS SHOULD NOT HAPPEN?
      </ng-template>
      <div>
        <button
          type="button"
          color="primary"
          class="create-customer-button"
          (click)="createCustomer()"
        >
          <mat-icon>person_add</mat-icon> Create Customer
        </button>
      </div>
    </div>
    <div
      *ngIf="
        showDetailsCustomer &&
        showDetailsCustomer.name &&
        !noDetails &&
        displayMode == 'detail'
      "
      class="customer-card"
    >
      <div>
        <label> Name: </label> <label>{{ showDetailsCustomer.name }}</label>
      </div>
      <div>
        <label> Address: </label>
        <label>{{ showDetailsCustomer.address }}</label>
      </div>
      <div>
        <label> Email: <mat-icon>alternate_email</mat-icon> </label>
        <label>{{ showDetailsCustomer.email }}</label>
      </div>
      <div>
        <label> Phone: <mat-icon>phone</mat-icon></label>
        <label>{{ showDetailsCustomer.phone }}</label>
      </div>
      <div>
        <label> Mobile: <mat-icon>phonelink_ring</mat-icon></label>
        <label>{{ showDetailsCustomer.mobile }}</label>
      </div>
      <div>
        <label> NOTES: </label> <label>{{ showDetailsCustomer.notes }}</label>
      </div>

      <button type="button" (click)="selectCustomer(showDetailsCustomer)">
        <mat-icon>check_circle</mat-icon> SELECT CUSTOMER
      </button>
      <button type="button" (click)="cancelShowCustomerDetail()">
        <mat-icon>cancel</mat-icon> CANCEL
      </button>
    </div>
    <div *ngIf="displayMode == 'create'" class="create-customer-form">
      <div *ngIf="createCustomerMessage != ''" class="customer-card red-card">
        <!--Error message div, need to make classes for it-->
        {{ createCustomerMessage }}
      </div>
      <div>
        <label>Name *</label>
        <input
          matInput
          [(ngModel)]="newCustomer.name"
          required
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div>
        <label>Email *</label>
        <input
          matInput
          [(ngModel)]="newCustomer.email"
          required
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div>
        <label>Phone</label>
        <input
          matInput
          [(ngModel)]="newCustomer.phone"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div>
        <label>Mobile</label>
        <input
          matInput
          [(ngModel)]="newCustomer.mobile"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div>
        <label>Address</label>
        <input
          matInput
          [(ngModel)]="newCustomer.address"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div>
        <label>Notes</label>
        <input
          matInput
          [(ngModel)]="newCustomer.notes"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <button
        type="button"
        (click)="saveCustomer()"
        [disabled]="
          !newCustomer.name ||
          !newCustomer.email ||
          (!newCustomer.phone && !newCustomer.mobile)
        "
      >
        SAVE CUSTOMER
      </button>
      <button type="button" (click)="cancelShowCustomerDetail()">
        CANCEL CUSTOMER CREATION
      </button>
    </div>
  </div>
</div>
