.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: hidden !important;
}

.POS-main-display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  background-color: #d8dadd;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.hover-class:hover {
  background-color: lightgrey;
}

.menu-button-margins {
  margin-right: 10px;
  margin-left: 10px;
}

.dropdown-options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
}

.POS-section {
  padding: 5px;
  padding-top: 0px;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 0px;
  padding-left: 0px;
}

.happy-hour-flag {
  color: red;
  font-weight: bold;
  padding-bottom: 10px;
}

.POS-admin-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

.POS-cashier-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-around;
  margin-bottom: 0.5rem;
}

.POS-cashier-menu > label {
  padding-right: 2rem;
}
.POS-cashier-menu > button {
  margin-left: 1rem;
  margin-right: 1rem;
}
.width40 {
  width: 30%;
}

.width60 {
  width: 70%;
  background-color: #d8dadd;
}

.sidebarIconToggle {
  display: none;
}
@media screen and (max-width: 750px) {
  .sidebarIconToggle {
    display: block;
  }
}

.header-menus {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

[mat-dialog-title] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

[mat-dialog-title] h2 {
  font-size: 24px;
  margin: 0;
}

/* Style the close button */
[mat-dialog-title] button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.no-padding-round-borders {
  padding: 0;
}

.header-menu-margins {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.mat-mdc-menu-panel {
  background-color: white !important;
}

hr {
  margin-right: 10px;
  margin-top: 12px;
  margin-bottom: 8px;
  color: grey;
}
