<div *ngIf="orderStatus == orderStatusEnum.Ordering">
  <div>
    <div class="header-menus">
      <div
        class="POS-cashier-menu"
        *ngIf="
          user.accessLevel == accessLevel.Admin ||
          user.accessLevel == accessLevel.SuperAdmin
        "
      >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <ul class="navbar-nav">
              <!-- Dropdown -->
              <button mat-button [matMenuTriggerFor]="belowMenu">
                ADMIN MENU
              </button>
              <mat-menu #belowMenu="matMenu" yPosition="below">
                <button class="" (click)="openStoreDiscountSettings()">
                  OPEN DISCOUNTS DIALOG FOR CURRENT STORE
                </button>
                <button class="" (click)="openStoreCashierSettings()">
                  OPEN CASHIER DIALOG FOR CURRENT STORE
                </button>
              </mat-menu>
            </ul>
          </div>
        </nav>
      </div>
      <label>Current Cashier: {{ user.name }}</label>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <!-- Dropdown -->
            <button mat-button [matMenuTriggerFor]="belowMenu">MENU</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
              <button class="" (click)="openCloseSessionModal()">
                CLOSE SESSION
              </button>
              <button class="" (click)="openGenerateStoreReport()">
                GENERATE SALES REPORT
              </button>
              <button (click)="openFileSelector()">
                IMPORT OFFLINE ORDERS
              </button>
              <input
                type="file"
                hidden
                (change)="handleFileInput($event)"
                #fileInput
              />
              <button class="" (click)="openSwitchCashier()">
                SWITCH CASHIER
              </button>
              <button class="" (click)="openLockCashier()">
                LOCK POS
              </button>
            </mat-menu>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="POS-main-display">
    <app-current-order class="POS-section width40"></app-current-order>
    <div class="POS-section width60">
      <div *ngIf="happyHourFlag" class="happy-hour-flag">
        HAPPY HOUR IS CURRENTLY ACTIVE
      </div>
      <app-product-list></app-product-list>
    </div>
  </div>
</div>
<div *ngIf="orderStatus == orderStatusEnum.Paying">
  <app-payment></app-payment>
</div>
<div *ngIf="orderStatus == orderStatusEnum.Paid">
  <app-order-complete></app-order-complete>
</div>
