<div *ngIf="orderStatus == orderStatusEnum.Ordering">
  <div>
    <div class="header-menus" id="headerMenusStore">
      <!-- <div
        class="header-menu-margins"
        *ngIf="
          user.accessLevel == accessLevel.Admin ||
          user.accessLevel == accessLevel.SuperAdmin
        "
      >
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light no-padding-round-borders"
          id="adminMenuStoreNav"
        >
          <div
            class="container-fluid no-padding-round-borders"
            id="adminMenuStoreDivWrapper"
          >
            <ul class="navbar-nav" id="adminMenuStoreUl">
              <button
                mat-button
                [matMenuTriggerFor]="belowMenu"
                class="btn btn-info"
              >
                ADMIN MENU
              </button>
              <mat-menu #belowMenu="matMenu" yPosition="below">
                <button class="" (click)="openStoreDiscountSettings()">
                  OPEN DISCOUNTS DIALOG FOR CURRENT STORE
                </button>
                <button class="" (click)="openStoreCashierSettings()">
                  OPEN CASHIER DIALOG FOR CURRENT STORE
                </button>
              </mat-menu>
            </ul>
          </div>
        </nav>
      </div> -->
      <nav
        id="cashierMenuStore"
        class="navbar navbar-expand-lg navbar-light bg-light no-padding-round-borders"
      >
        <div
          class="container-fluid no-padding-round-borders"
          id="cashierMenuStoreDivWrapper"
        >
          <ul class="navbar-nav" id="cashierMenuStoreUl">
            <!-- Dropdown -->
            <button mat-button [matMenuTriggerFor]="belowMenu" class="btn">
              MENU
            </button>
            <mat-menu
              #belowMenu="matMenu"
              yPosition="below"
              class="dropdown-options"
            >
              <div class="dropdown-options">
                <button
                  class="hover-class menu-button-margins"
                  (click)="openStoreDiscountSettings()"
                  *ngIf="
                    user.accessLevel == accessLevel.Admin ||
                    user.accessLevel == accessLevel.SuperAdmin
                  "
                >
                  Open Discounts
                </button>
                <hr />
                <button
                  class="hover-class menu-button-margins"
                  (click)="openStoreCashierSettings()"
                  *ngIf="
                    user.accessLevel == accessLevel.Admin ||
                    user.accessLevel == accessLevel.SuperAdmin
                  "
                >
                  Open Cashier Settings
                </button>
                <hr />
                <button
                  class="hover-class menu-button-margins"
                  menu-button-margins
                  (click)="openGenerateStoreReport()"
                >
                  Sales Report
                </button>
                <hr />
                <button
                  class="hover-class menu-button-margins"
                  (click)="openFileSelector()"
                >
                  Import Offline Orders
                </button>
                <input
                  type="file"
                  hidden
                  (change)="handleFileInput($event)"
                  #fileInput
                />
                <hr />
                <button
                  class="hover-class menu-button-margins"
                  (click)="openSwitchCashier()"
                >
                  Switch Cashier
                </button>
                <hr />
                <button
                  class="hover-class menu-button-margins"
                  (click)="openLockCashier()"
                >
                  Lock
                </button>
                <hr />
                <button
                  class="hover-class menu-button-margins"
                  (click)="openCloseSessionModal()"
                >
                  CLOSE SESSION
                </button>
                <hr />
              </div>
            </mat-menu>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="POS-main-display" id="storeOrderScreen">
    <app-current-order class="POS-section width40"></app-current-order>
    <div class="POS-section width60">
      <div *ngIf="happyHourFlag" class="happy-hour-flag">
        HAPPY HOUR IS CURRENTLY ACTIVE
      </div>
      <app-product-list></app-product-list>
    </div>
  </div>
</div>
<div
  *ngIf="orderStatus == orderStatusEnum.Paying"
  class="payment-screen-container"
>
  <app-payment></app-payment>
</div>
<div *ngIf="orderStatus == orderStatusEnum.Paid">
  <app-order-complete></app-order-complete>
</div>
