.order-padding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.active {
  background-color: aquamarine !important;
}

.bxgo-product {
  background-color: chartreuse;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

.product-in-order-button-group {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.label-right-padding {
  padding-right: 1rem;
}

.pay-button {
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-grow: 0; /* Prevent Pay button from growing */
}

.button-group-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; /* Adjusted to space-between */
  align-items: stretch;
}
.feature-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: normal;
  align-content: center;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.button-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
}

.numpad-button {
  background-color: white;
  border-color: darkslategrey;
  border-radius: 0px;
}

.coupon-section {
  padding-top: 5px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 4%; /*supported by all latest Browser*/
  -moz-border-radius: 4%; /*For older Browser*/
  -webkit-border-radius: 4%; /*For older Browser*/
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.current-order-product-list {
  min-height: 20rem;
  max-height: 20vh;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: black;
  /* border-radius: 5px; */
  border-width: 2px;
  margin: 5px;
  /* padding: 2px; */
  border: 1px solid #000000;
  /* border-radius: 10px; */
  cursor: pointer;
  overflow-y: auto;
  background-color: #ffffff;
}

.small-spinner {
  max-width: 30px;
  max-height: 30px;
}

.numpad-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1; /* Allow numpad to grow */
}

.numpad-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch; /* Adjusted to space-evenly */
  align-items: center;
  width: 100%;
}

.numpad-row button {
  flex-grow: 1; /* Allow buttons to grow */
  min-width: 4rem;
  max-height: 4rem;
  /* max-width: 4rem; */
  min-height: 3rem;
}

.order-buttons-and-details-container {
  margin-left: 1rem;
  margin-right: 1rem;
}
