.order-padding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background-color: aquamarine !important;
}

.bxgo-product {
  background-color: chartreuse;
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.label-right-padding {
  padding-right: 1rem;
}

.pay-button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.button-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
}

.coupon-section {
  padding-top: 5px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 4%; /*supported by all latest Browser*/
  -moz-border-radius: 4%; /*For older Browser*/
  -webkit-border-radius: 4%; /*For older Browser*/
  background-color: beige;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.current-order-product-list {
  min-height: 20rem;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: black;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.small-spinner {
  max-width: 30px;
  max-height: 30px;
}
