.mat-mdc-dialog-surface {
  overflow-y: scroll;
}

.modal-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.close-session-card {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #d8dadd; /* Beige background */
}

.bg-beige {
  background-color: #d8dadd;
}

.text-dark-green {
  color: #2e865f;
}

.bg-beige {
  background-color: #d8dadd;
}

.text-dark-green {
  color: #2e865f;
}

.happy-hour-edit .hh-item .card {
  border: 1px solid #2e865f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.happy-hour-edit .hh-item .card-body {
  padding: 20px;
}

.coupon-edit {
  padding: 20px;
}

.coupon-edit .form-group {
  margin-bottom: 20px;
}
[mat-dialog-title] {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

[mat-dialog-title] h2 {
  font-size: 24px;
  margin: 0;
}

.money-display {
  display: flex;
  flex-direction: column;
}
