<div mat-dialog-title class="dialog-title bg-beige text-dark-green p-3">
  <h2>CLOSE SESSION?</h2>
  <button
    mat-icon-button
    aria-label="cancel edit"
    mat-dialog-close
    class="btn mr-3"
    (click)="close()"
  >
    <span class="close-button-span">X</span>
  </button>
</div>
<div mat-dialog-content style="height: 25rem" class="p-3">
  {{ sessionOrderCount }}
  <div class="close-session-card">
    <h2>Record total cash amount within your register:</h2>
    <input [(ngModel)]="cashCloseAmount" class="form-control" />
    <div class="money-display">
      <label
        >The expected amount of cash is: ${{
          expectedCashAmt | number: "1.2-2"
        }}</label
      >
      <label
        >Difference: $
        {{ cashCloseAmount - expectedCashAmt | number: "1.2-2" }}</label
      >
    </div>
    <div class="money-display" style="padding-top: 1rem">
      <label>Closing Session Notes:</label>
    </div>
    <input
      type="text"
      [(ngModel)]="sessionCloseNotes"
      class="form-control"
      style="margin-bottom: 1rem"
    />
    <button
      mat-icon-button
      aria-label="confirm edit"
      mat-dialog-close
      (click)="closeSession(cashCloseAmount)"
    >
      <mat-icon>check_circle</mat-icon>
    </button>
  </div>
  <div
    class="close-session-card"
    *ngIf="offlineOrderList.length > 0; else allGreen"
  >
    <p>WARNING: THERE ARE ORDERS SITTING IN MEMORY NOT YET IN THE SYSTEM.</p>
    <p>
      UNABLE TO CLOSE SESSION, PLEASE DOWNLOAD EXPORT OR ATTEMPT TO SEND OUT
      OFFLINE ORDERS
    </p>
    <button (click)="createExport()">OFFLINE ORDER EXPORT</button>
  </div>
  <ng-template #allGreen class="close-session-card"
    ><h1>NO OFFLINE ORDERS</h1></ng-template
  >
</div>
