<div class="container">
  <div class="header">
    <button (click)="backToOrder()" class="btn btn-danger">
      BACK TO ORDER
    </button>
    <div class="total">
      <h2>
        <span style="font-weight: 600">Total:</span>
        {{ totalCost | number: "1.2-2" }}
      </h2>
      <h2>
        <span style="font-weight: 600">Paid:</span>
        {{ paid | number: "1.2-2" }}
      </h2>
      <h2>
        <span style="font-weight: 600">Change:</span>
        {{ change | number: "1.2-2" }}
      </h2>
    </div>
  </div>
  <div class="left">
    <div class="actions">
      <button (click)="payExactAmount()">Exact Amount</button>
      <!-- <button>Paid with Card NOT IMPLEMENTED</button> -->
      <div>
        <label>Enter amount given: </label>
        <input
          type="number"
          [(ngModel)]="amountVal"
          placeholder="Enter amount..."
          (ngModelChange)="setPaid()"
        />
      </div>
    </div>
    <div class="money">
      <label>Or enter individual bills and coins given: </label>
      <div *ngFor="let money of moneyOptions">
        <button (click)="decreaseMoneyCount(money)">-</button>
        <label>{{ money.name }}: {{ money.count }}</label>
        <button (click)="increaseMoneyCount(money)">+</button>
      </div>
    </div>
  </div>
  <div class="middle"></div>
  <div class="right">
    <div
      *ngFor="let product of groupedProducts; let i = index"
      class="payment-lines"
    >
      <div
        *ngIf="
          !product.product.deductCountForCouponEntry;
          else showProductAndCouponVariant
        "
        class="order-item-div-alignment"
      >
        <div>
          <label>{{ i + 1 }} -- </label>
          <label
            >{{ product.product.name }} ({{ product.count }}) x ${{
              product.product.price | number: "1.2-2"
            }}
          </label>
        </div>
        <label>
          ${{ product.product.price * product.count | number: "1.2-2" }}</label
        >
      </div>
      <ng-template #showProductAndCouponVariant>
        <div *ngIf="product.count - 1 > 0">
          <div class="order-item-div-alignment">
            <label>{{ i + 1 }} -- </label>
            <label
              >{{ product.product.name }} ({{ product.count - 1 }}) x ${{
                product.product.price | number: "1.2-2"
              }}
            </label>
          </div>
          <label>
            ${{
              product.product.price * product.count | number: "1.2-2"
            }}</label
          >
        </div>
        <div class="order-item-div-alignment">
          <div>
            <label *ngIf="product.count - 1 > 0; else default"
              >{{ i + 1 }}B --
            </label>
            <ng-template #default>
              <label>{{ i + 1 }} -- </label>
            </ng-template>
            <label>
              {{ product.product.name }} (1) x ${{
                product.product.priceAfterCoupon | number: "1.2-2"
              }}
            </label>
          </div>
          <label
            >${{ product.product.priceAfterCoupon * 1 | number: "1.2-2" }}
          </label>
        </div>
      </ng-template>
    </div>

    <div
      *ngFor="let product of refundProducts; let i = index"
      class="payment-lines"
    >
      <div class="order-item-div-alignment">
        <div>
          <label>{{ i + 1 }} -- </label>
          <label
            >REFUND: {{ product.name }} (1) x -${{
              product.price | number: "1.2-2"
            }}
          </label>
        </div>
        <label> = -${{ product.price | number: "1.2-2" }}</label>
      </div>
    </div>
    <div *ngIf="currentOrder.guruBucksUsed && currentOrder.guruBucksUsed > 0">
      <h2>
        GURU BUCKS DOLLARS OFF ORDER: ${{ currentOrder.guruBucksUsed / 20 }}
      </h2>
    </div>

    <div>
      <h2>Tax: ${{ taxAmount | number: "1.2-2" }}</h2>
    </div>
    <div>
      <h2>Total: ${{ totalCost | number: "1.2-2" }}</h2>
    </div>
    <div>
      <button
        (click)="submitPayment()"
        [disabled]="paid < totalCost"
        class="btn btn-success"
      >
        Submit Payment
      </button>
    </div>
  </div>
</div>
