.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  height: 100vh;
  max-width: 100%;
  padding-top: 1rem;
}

.left-and-right-container {
  display: flex;
  flex-direction: row;
  border: 3px solid grey;
  padding: 1rem;
}

.left {
  margin-right: 4rem;
  flex: 1;
  border: 3px solid grey;
  padding: 1rem;
}

.exact-change {
  border: 1px solid black;
  background: green;
  font-size: large;
  font-weight: 600;
  color: white;
}

.middle {
  background-color: grey;
  width: 1px;
}

.payment-font-size {
  font-size: xx-large;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.right {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  width: 60vh;
  border: 3px solid grey;
  padding: 1rem;
  max-height: 60vh;
  overflow: auto;
}

.button-style {
  display: flex;
}

.right-margin-for-button {
  margin-right: 5px;
}

.order-item-div-alignment {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.delete-button-icon-color {
  color: #222222;
}

.header {
  padding: 10px;
  margin: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.summary-payment-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: white;
  align-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-button-and-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  padding-bottom: 9rem;
  padding-left: 1rem;
  width: 100%;
}

.main-display-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.row4 {
  width: 25%;
}

.numpad-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
.numpad-button {
  background-color: white;
  border-color: darkslategrey;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-amount-section-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #d8dadd;
}

.numpad-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 25%;
  align-content: stretch;
}

.numpad-row button {
  flex-grow: 1; /* Allow buttons to grow */
  min-width: 4rem;
  /* max-width: 4rem; */
  min-height: 3rem;
}

.back-button {
  align-items: center;
  display: flex;
  min-width: 200px;
}

.header button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: #3e8e41;
}

.payment-lines {
  padding-bottom: 0.3rem;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid grey;
  padding: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions div label {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.money {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money label {
  font-weight: 600;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.money-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.money-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  border: 1px solid grey;
  padding-top: 0.5rem;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.submit-button {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.success-size {
  min-width: 500px;
  min-height: 200px;
}

.activePaymentMethod {
  background-color: darkgrey;
}

.payment-methods-container {
  background-color: white;
  border: 1px solid grey;
}

.payment-methods-title {
  background-color: white;
  border: 1px solid #c1c1c1;
  font-size: 48px;
  width: 100%;
  line-height: normal;
}

.payment-method-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 2px solid #d8dadd;
}

.paymentMethodLabel {
  padding-top: 0.5rem;
}

.payments-section-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.display-amount-for-payment-method {
  font-size: 48px;
  background-color: white;
  width: 100%;
  line-height: normal;
  border-bottom: 5px solid #d8dadd;
}
