.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  height: 100vh;
  max-width: 100%;
  padding-top: 1rem;
}

.left-and-right-container {
  display: flex;
  flex-direction: row;
  border: 3px solid grey;
  padding: 1rem;
}

.left {
  margin-right: 4rem;
  flex: 1;
  border: 3px solid grey;
  padding: 1rem;
}

.exact-change {
  border: 1px solid black;
  background: green;
  font-size: large;
  font-weight: 600;
  color: white;
}

.middle {
  background-color: grey;
  width: 1px;
}

.payment-font-size {
  font-size: xx-large;
}

.right {
  margin-left: 4rem;
  flex: 1;
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 60vh;
  border: 3px solid grey;
  padding: 1rem;
  max-height: 60vh;
  overflow: auto;
}

.order-item-div-alignment {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header {
  padding: 10px;
  margin: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.header-button-and-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  padding-bottom: 9rem;
}

.back-button {
  align-items: center;
  display: flex;
  min-width: 200px;
}

.header button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: #3e8e41;
}

.payment-lines {
  padding-bottom: 0.3rem;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid grey;
  padding: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions div label {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.money {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money label {
  font-weight: 600;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.money-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.money-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  border: 1px solid grey;
  padding-top: 0.5rem;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.submit-button {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.success-size {
  min-width: 500px;
  min-height: 200px;
}
