.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: 100vh;
}

.left-and-right-container {
  display: flex;
  flex-direction: row;
}

.left {
  margin-right: 4rem;
  flex: 1;
}

.middle {
  background-color: grey;
  width: 1px;
}

.right {
  margin-left: 4rem;
  flex: 1;
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 60vh;
}

.order-item-div-alignment {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header {
  padding: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.header button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: #3e8e41;
}

.payment-lines {
  padding-bottom: 0.3rem;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions div label {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.money {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money label {
  font-weight: 600;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
