.container {
  width: 250px;
  height: 50px;
  background: darkblue;
  position: relative;
}
.element {
  width: 50px;
  height: 50px;
  background: darkgreen;
  position: absolute;
  top: 0;
}
element-center {
  right: 50%;
  transform: translate(50%, 0);
}
.element-right {
  right: 0;
}

#container {
  width: 250px;
  height: 50px;
  background: darkblue;
  position: relative;
}
#element-1,
#element-2 {
  width: 50px;
  height: 50px;
  background: darkgreen;
  position: absolute;
  top: 0;
}
#element-1 {
  right: 50%;
  transform: translate(50%, 0);
}
#element-2 {
  right: 0;
}
.centered-spinner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.locations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
}

.button-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-login-btn {
  border: 1px solid black;
  background-color: lavender;
}

.btn-logout {
  border: 1px solid black;
  background-color: rgb(206, 126, 199);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.location-card {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 25vh;
  background-color: #f5f5dc; /* Beige background */
  margin-right: 30px;
}
.location-font-size {
  font-size: large;
}

.grid-layout {
  width: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
