<div class="d-flex justify-content-center flex-column">
  <div class="centered-spinner" *ngIf="isLoading; else userLoaded">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #userLoaded>
    <div *ngIf="availableLocations && this.selectedLocation == 'NONE'">
      <div class="d-flex justify-content-between">
        <div></div>
        <h2 class="">Choose from one of your stores</h2>
        <div>
          <button (click)="Logout()">LogOut <mat-icon>logout</mat-icon></button>
        </div>
      </div>
      <div *ngFor="let storeLoc of availableLocations" class="location-card">
        <div>
          <div>
            <label>LOCATION: </label>
            <label>{{ storeLoc.name }}</label>
          </div>
          <div *ngIf="!storeLoc.inUse">
            <label>Register Amt Available: </label>
            <label>{{ storeLoc.cashInRegister | number: "1.2-2" }}</label>
          </div>
          <div *ngIf="storeLoc.inUse">
            <label>Register In Use By: </label>
            <label>{{ storeLoc.cashier }}</label>
          </div>
          <button
            *ngIf="storeLoc.inUse && storeLoc.cashier != currentUser.name"
            (click)="createNewSession(storeLoc)"
            [disabled]="storeLoc.inUse"
          >
            <label *ngIf="!storeLoc.inUse">Login</label>
            <label
              *ngIf="storeLoc.inUse && storeLoc.cashier != currentUser.name"
              >Register In Use</label
            >
          </button>
          <button
            *ngIf="!storeLoc.inUse"
            (click)="createNewSession(storeLoc)"
            [disabled]="storeLoc.inUse"
          >
            <label *ngIf="!storeLoc.inUse">Login</label>
          </button>
          <button
            *ngIf="storeLoc.inUse && storeLoc.cashier == currentUser.name"
            (click)="resumeSession(storeLoc)"
          >
            <label>Resume Session</label>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div *ngIf="this.selectedLocation != 'NONE'">
  <div *ngIf="this.selectedLocation.isRestaurant; else store">
    <!-- <app-restaurant-table-selector></app-restaurant-table-selector> -->
    <app-restaurant-layout-view></app-restaurant-layout-view>
  </div>

  <ng-template #store>
    <app-point-of-sale></app-point-of-sale>
  </ng-template>
</div>
