<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title>
    <h2>REFUND ORDER</h2>
    <button aria-label="close dialog" mat-dialog-close (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <div *ngIf="currentMode == 'all orders'">
      <div *ngIf="previousOrders.length > 0; else noPreviousOrders">
        <div class="row">
          <div class="col-md-12 right-side-align">
            <input
              type="text"
              [(ngModel)]="searchString"
              placeholder="Filter By..."
              (ngModelChange)="filterOrders()"
            />
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <button type="button" (click)="goToPage(0)">
            {{ 1 }}
          </button>
          <button
            type="button"
            (click)="goToPage(page - 1)"
            *ngIf="page - 1 > 0"
          >
            Previous Page
          </button>
          <button
            type="button"
            (click)="goToPage(page + 1)"
            *ngIf="page + 1 < maxPage"
          >
            Next Page
          </button>
          <button type="button" (click)="goToPage(maxPage)" *ngIf="maxPage > 0">
            {{ maxPage }}
          </button>
        </div>

        <div *ngFor="let order of filteredOrders; let i = index">
          <div
            (click)="showOrderDetail(order)"
            *ngIf="beforePage() <= i && i < afterPage()"
            class="order-card"
          >
            <div><label>Date:</label>{{ order.date }}</div>
            <div><label>Receipt Number:</label> {{ order.receiptNumber }}</div>
            <div><label>Order number:</label>{{ order.orderNumber }}</div>

            <div *ngIf="order && order.customer && order.customer.name">
              <label>Customer:</label>{{ order.customer.name }}
            </div>
            <div><label>Cashier:</label>{{ order.cashier }}</div>
            <div><label>Total:</label>{{ order.total }}</div>
            <div><label>Status:</label>{{ order.status }}</div>
          </div>
        </div>
        <div
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <button type="button" (click)="goToPage(0)">
            {{ 1 }}
          </button>
          <button
            type="button"
            (click)="goToPage(page - 1)"
            *ngIf="page - 1 > 0"
          >
            Previous Page
          </button>
          <button
            type="button"
            (click)="goToPage(page + 1)"
            *ngIf="page + 1 < maxPage"
          >
            Next Page
          </button>
          <button type="button" (click)="goToPage(maxPage)" *ngIf="maxPage > 0">
            {{ maxPage }}
          </button>
        </div>
      </div>
      <ng-template #noPreviousOrders>
        THERE ARE NO PREVIOUS ORDERS FOR THIS STORE
      </ng-template>
    </div>
    <div *ngIf="currentMode == 'refund order'">
      <!--This is the list of items in the order-->
      <div>
        <label>These are the products sold in this order</label>
        <div
          *ngFor="let product of pristineSelectedOrder.products; let i = index"
        >
          <div
            *ngIf="
              selectedOrder &&
              selectedOrder.products &&
              selectedOrder.products[i].count > 0 &&
              !selectedOrder.products[i].product.happyHourDiscount
            "
          >
            <!--div contains the detail of the item-->
            {{ product.product.name }} X
            {{ selectedOrder.products[i].count }} X{{ product.product.price }}
            <!--div contains the buttons of the item-->
            <div
              class="button-group"
              *ngIf="
                selectedOrder.products[i].count > 0 &&
                !product.product.happyHourDiscount
              "
            >
              <button type="button" (click)="addItemToRefund(i)">
                <mat-icon>exposure_plus_1</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--This is the list of items that are being refunded!-->
      <div>
        <label>These are the products being refunded</label>
        <div *ngFor="let product of refundItems">
          <label> {{ product.name }}: {{ product.price }} </label>
          <div>
            <button type="button" (click)="removeItemFromRefund(product)">
              <mat-icon>exposure_neg_1</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="button-group">
        <button type="button" (click)="returnToViewMode()">
          <mat-icon>home</mat-icon>
          Cancel
        </button>
        <button type="button" (click)="goToRefundMode()">
          <mat-icon>Payments</mat-icon>
          Refund Selected Items
        </button>
      </div>
    </div>
  </div>
</div>
