<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title class="bg-beige">
    <h2>REFUND ORDER</h2>
    <button
      mat-icon-button
      aria-label="cancel edit"
      mat-dialog-close
      class="btn btn-danger mr-3"
      (click)="close()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="main-modal-padding">
    <div *ngIf="currentMode == 'all orders'">
      <div *ngIf="previousOrders.length > 0; else noPreviousOrders">
        <div class="row">
          <div class="col-md-12 right-side-align">
            <input
              type="text"
              [(ngModel)]="searchString"
              placeholder="Filter By..."
              (ngModelChange)="filterOrders()"
            />
            <button type="button" (click)="goToSearchMode()">
              Advanced Search
            </button>
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <button type="button" (click)="goToPage(0)">
            {{ 1 }}
          </button>
          <button
            type="button"
            (click)="goToPage(page - 1)"
            *ngIf="page - 1 > 0"
          >
            Previous Page
          </button>
          <button
            type="button"
            (click)="goToPage(page + 1)"
            *ngIf="page + 1 < maxPage"
          >
            Next Page
          </button>
          <button type="button" (click)="goToPage(maxPage)" *ngIf="maxPage > 0">
            {{ maxPage }}
          </button>
        </div>

        <div *ngFor="let order of filteredOrders; let i = index">
          <div
            (click)="showOrderDetail(order, 'regular')"
            *ngIf="beforePage() <= i && i < afterPage()"
            class="order-card"
          >
            <div><label class="label-info">Date:</label>{{ order.date }}</div>
            <div>
              <label class="label-info">Receipt Number:</label>
              {{ order.orderNumber }}
            </div>
            <div>
              <label class="label-info">Order number:</label>{{ order.orderId }}
            </div>

            <div *ngIf="order && order.partner_id && order.partner_id[1]">
              <label class="label-info">Customer:</label
              >{{ order.partner_id[1] }}
            </div>
            <div>
              <label class="label-info">Cashier:</label>{{ order.cashier }}
            </div>
            <div><label class="label-info">Total:</label>{{ order.total }}</div>
            <div><label class="label-info">Status:</label>PAID</div>
          </div>
        </div>
        <div
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <button type="button" (click)="goToPage(0)">
            {{ 1 }}
          </button>
          <button
            type="button"
            (click)="goToPage(page - 1)"
            *ngIf="page - 1 > 0"
          >
            Previous Page
          </button>
          <button
            type="button"
            (click)="goToPage(page + 1)"
            *ngIf="page + 1 < maxPage"
          >
            Next Page
          </button>
          <button type="button" (click)="goToPage(maxPage)" *ngIf="maxPage > 0">
            {{ maxPage }}
          </button>
        </div>
      </div>
      <ng-template #noPreviousOrders>
        THERE ARE NO PREVIOUS ORDERS FOR THIS STORE
      </ng-template>
    </div>
    <div *ngIf="currentMode == 'refund order'">
      <!--This is the list of items in the order-->
      <div
        *ngIf="
          pristineSelectedOrder.products &&
          pristineSelectedOrder.products.length > 0 &&
          selectedOrder.total != 0
        "
        class="product-group"
      >
        <h2 class="header-card green-text">
          These are the products sold in this order
        </h2>
        <div
          *ngFor="let product of pristineSelectedOrder.products; let i = index"
        >
          <div
            *ngIf="
              selectedOrder &&
              selectedOrder.products &&
              selectedOrder.products[i].count > 0 &&
              selectedOrder.products[i].product.refund_orderline_ids &&
              selectedOrder.products[i].product.refund_orderline_ids.length == 0
            "
            class="order-card"
          >
            <!--div contains the detail of the item-->
            {{ product.product.name }} X
            {{ selectedOrder.products[i].count }} X{{
              product.product.priceWithTax | number: "1.2-2"
            }}
            <!--div contains the buttons of the item-->
            <div
              class="button-group"
              *ngIf="
                selectedOrder.products[i].count > 0 &&
                !product.product.happyHourDiscount
              "
            >
              <button type="button" (click)="addItemToRefund(i)">
                <mat-icon>exposure_plus_1</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--This is the list of items that are being refunded!-->
      <div *ngIf="refundItems && refundItems.length > 0" class="product-group">
        <h2 class="header-card green-text">
          These are the products being refunded
        </h2>
        <div
          *ngFor="let product of refundItems; let i = index"
          class="order-card"
        >
          <label>
            {{ product.name }}: {{ product.priceWithTax | number: "1.2-2" }}
          </label>
          <div>
            <button type="button" (click)="removeItemFromRefund(product)">
              <mat-icon>exposure_neg_1</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!--This is the list of items that were previously refunded!-->
      <div
        *ngIf="previouslyRefundedItems && previouslyRefundedItems.length > 0"
        class="product-group"
      >
        <h2 class="header-card green-text">
          These are the products for this order that were previously returned
        </h2>
        <div
          *ngFor="let productGroup of previouslyRefundedItems; let i = index"
          class="order-card"
        >
          <label>
            {{ productGroup.product.name }}*
            {{ selectedOrder.products[i].count }}
            {{ productGroup.product.price | number: "1.2-2" }}
          </label>
        </div>
      </div>

      <div class="button-group confirm confirm-or-deny-buttons">
        <button
          type="button"
          class="btn btn-danger"
          (click)="returnToViewMode()"
        >
          <mat-icon>home</mat-icon>
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="goToRefundMode()"
        >
          <mat-icon>Payments</mat-icon>
          Refund Selected Items
        </button>
      </div>
    </div>
    <div *ngIf="currentMode == 'search'">
      <h2>Enter Search Parameters:</h2>
      <div>
        <label>Customer Name:</label>
        <input
          type="text"
          [(ngModel)]="searchCustomer"
          placeholder="Filter By..."
        />
      </div>
      <div>
        <label>Order Reference:</label>
        <input
          type="text"
          [(ngModel)]="searchOrderRef"
          placeholder="Filter By..."
        />
      </div>
      <div>
        <label>Date:</label>
        <input
          type="date"
          [(ngModel)]="searchDate"
          placeholder="Filter By..."
        />
      </div>
      <div class="button-group confirm confirm-or-deny-buttons">
        <button
          type="button"
          class="btn btn-danger"
          (click)="returnToViewMode()"
        >
          <mat-icon>home</mat-icon>
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="searchPastOrder()"
        >
          <mat-icon>Payments</mat-icon>
          SEARCH
        </button>
      </div>
    </div>
    <div *ngIf="currentMode == 'search results'">
      {{ searchOrders.length }}
      <div *ngIf="searchOrders.length && searchOrders.length == 0">
        <mat-spinner class="small-spinner"></mat-spinner>
      </div>
      <div *ngFor="let order of searchOrders; let i = index">
        <div (click)="showOrderDetail(order, 'search')" class="order-card">
          <div><label class="label-info">Date:</label>{{ order.date }}</div>
          <div>
            <label class="label-info">Receipt Number:</label>
            {{ order.orderNumber }}
          </div>
          <div>
            <label class="label-info">Order number:</label>{{ order.orderId }}
          </div>

          <div *ngIf="order && order.partner_id && order.partner_id[1]">
            <label class="label-info">Customer:</label>{{ order.partner_id[1] }}
          </div>
          <div>
            <label class="label-info">Cashier:</label>{{ order.cashier }}
          </div>
          <div><label class="label-info">Total:</label>{{ order.total }}</div>
          <div><label class="label-info">Status:</label>PAID</div>
        </div>
      </div>
      <div class="button-group confirm confirm-or-deny-buttons">
        <button
          type="button"
          class="btn btn-danger"
          (click)="returnToViewMode()"
        >
          <mat-icon>home</mat-icon>
          Return to Recent Past Orders
        </button>
      </div>
    </div>
  </div>
</div>
