.button-group {
  display: flex;
  flex-wrap: nowrap;
}
.order-card {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f5f5dc; /* Beige background */
}
[mat-dialog-title] {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

[mat-dialog-title] h2 {
  font-size: 24px;
  margin: 0;
}

.small-spinner {
  max-width: 30px;
  max-height: 30px;
}

/* Style the close button */
[mat-dialog-title] button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.label-info {
  font-weight: 700;
}

.product-group {
  padding-bottom: 10px;
  box-sizing: border-box;
  border: black;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.green-text {
  color: green;
}

.header-card {
  box-sizing: border-box;
  border: black;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f5f5dc;
}

.main-modal-padding {
  padding: 10px;
}
