<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title class="bg-beige">
    <h2>Stock Information for {{ searchName }}</h2>
    <button
      mat-icon-button
      aria-label="cancel edit"
      mat-dialog-close
      class="btn btn-danger mr-3"
      (click)="close()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div style="padding: 1rem">
      <div *ngIf="productStockInfoFinal && productStockInfoFinal.length > 0">
        <table
          border="1"
          cellpadding="8"
          cellspacing="0"
          style="width: 100%; text-align: left; border-collapse: collapse"
        >
          <thead>
            <tr style="border: 1px solid black">
              <th style="border: 1px solid black">Product Name</th>
              <th
                style="border: 1px solid black"
                *ngFor="let location of getLocations(productStockInfoFinal)"
              >
                {{ location }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              style="border: 1px solid black"
              *ngFor="let productStock of productStockInfoFinal"
            >
              <td style="border: 1px solid black">{{ productStock.name }}</td>
              <td
                style="border: 1px solid black"
                *ngFor="let location of getLocations(productStockInfoFinal)"
              >
                {{ getQuantity(productStock, location) || 0 }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
