<div
  *ngIf="!user || user.id == null || user.id == ''; else mainDisplay"
  class="login-announcements-display-container"
>
  <!-- <app-user-login></app-user-login> -->
  <app-announcement-board
    class="announcement-board-container"
    style="width: 50%; padding-right: 1rem; padding-left: 1rem"
  ></app-announcement-board>
  <app-google-log-in style="width: 50%"></app-google-log-in>
</div>
<ng-template
  #mainDisplay
  class="no-overflow"
  style="display: flex; overflow: hidden"
>
  <app-choose-location class="no-overflow"></app-choose-location>
</ng-template>
