<div style="background-color: #2c2c52; height: 100%">
  <div
    *ngIf="!user || user.id == null || user.id == ''; else mainDisplay"
    class="login-announcements-display-container"
  >
    <div class="inner-container">
      <app-announcement-board
        class="announcement-board-container"
        style="width: 50%; padding-right: 1rem; padding-left: 1rem; background-image: url('../assets/images/announcementsBackground.png');;"
      ></app-announcement-board>
      <app-google-log-in
        style="width: 50%; background-color: white; height: 60vh"
      ></app-google-log-in>
    </div>
    <!-- <app-user-login></app-user-login> -->
  </div>
  <ng-template
    #mainDisplay
    class="no-overflow"
    style="display: flex; overflow: hidden"
  >
    <app-choose-location class="no-overflow"></app-choose-location>
  </ng-template>
</div>
