@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* CSS to disable arrows on number inputs */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error-list {
  background-color: red;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

.error-item {
  padding-bottom: 0.5rem;
  margin-left: 0.4rem;
}

.detail-view-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.existing-user-issue {
  font-weight: 900;
}

.spinner-class {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.spinner-top-padding {
  padding-top: 15rem;
}

.validation-error {
  padding: 0;
  margin: 0;
  font-size: x-small;
  background: lightgray;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  color: red;
}

.key-padding {
  padding-right: 0.7rem;
}

.table-sortable > thead > tr > th {
  cursor: pointer;
  position: relative;
}

.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  right: 10px;
  top: 16px;
}

.table-sortable > thead > tr > th:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ccc;
  border-bottom: 0px solid transparent;
}

.table-sortable > thead > tr > th:hover:after {
  border-top: 5px solid #888;
}

.table-sortable > thead > tr > th.asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 5px solid #333;
}

.table-sortable > thead > tr > th.asc:hover:after {
  border-bottom: 5px solid #888;
}

.table-sortable > thead > tr > th.desc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  border-bottom: 5px solid transparent;
}

.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: hidden !important;
}

.cdk-global-overlay-wrapper {
  overflow-y: scroll !important;
}

.width40 {
  max-width: 500px;
}

.width60 {
  width: calc(100%-500px);
  background-color: #d8dadd;
}

.no-overflow {
  overflow: hidden;
}

.login-announcements-display-container {
  flex-wrap: wrap;
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.inner-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: stretch;
  padding-top: 15%;
}

.box-shadow {
  box-shadow: 3px 3px 3px 3px grey;
  background-color: white;
}

.announcement-board-container {
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 60vh;
  background-image: url("../assets/images/announcementsBackground.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
