<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title class="bg-beige">
    <h2>UTILIZE GURU BUCKS</h2>
    <button aria-label="close dialog" mat-dialog-close (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="info-card">
      <label>Customer has accrued: </label>
      <label>{{ pristineGBAmmount }} Guru Bucks</label>
    </div>
    <div
      style="
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
      "
    >
      <button *ngIf="pristineGBAmmount >= 20" (click)="useRewards()">
        USE 20 GURU BUCKS FOR $1 DISCOUNT
      </button>
      <button *ngIf="usedGB > 0" (click)="refundRewards()">
        REMOVE $1 DISCOUNT
      </button>
    </div>
    <div>
      <div class="info-card">
        <label
          >Using: {{ usedGB }} GB's to remove {{ usedGB / 20 }} dollar(s) from
          order</label
        >
      </div>
      <div class="confirm-or-deny-buttons">
        <button
          mat-icon-button
          aria-label="confirm edit"
          class="btn btn-success mr-3"
          style="margin-right: 1rem"
          mat-dialog-close
          (click)="updateOrderWithGBUsed()"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="cancel edit"
          mat-dialog-close
          class="btn btn-danger"
          (click)="close()"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
