[mat-dialog-title] {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #f5f5dc;
}

.mat-mdc-dialog-surface {
  background-color: white !important;
}

.mdc-dialog__surface {
  background-color: white !important;
}

::before {
  background-color: white !important;
}

[mat-dialog-title] h2 {
  font-size: 24px;
  margin: 0;
}

.cashier-card {
  padding-bottom: 10px;
  box-sizing: border-box;
  border: black;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f5f5dc;
}

.label {
  font-weight: 900;
}

.bg-beige {
  background-color: #d8dadd;
}
