.mat-mdc-dialog-surface {
  overflow-y: scroll;
}

.modal-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  min-width: 35rem;
}

.bg-beige {
  background-color: #d8dadd;
}

.text-dark-green {
  color: #2e865f;
}

.bg-beige {
  background-color: #d8dadd;
}

.text-dark-green {
  color: #2e865f;
}

.happy-hour-edit .hh-item .card {
  border: 1px solid #2e865f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.happy-hour-edit .hh-item .card-body {
  padding: 20px;
}

.coupon-edit {
  padding: 20px;
}

.coupon-edit .form-group {
  margin-bottom: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.happy-hour-card {
  padding-bottom: 10px;
  box-sizing: border-box;
  border: black;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.hh-and-coupon-labels {
  display: flex;
  flex-direction: column;
}

.hh-and-coupon-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
[mat-dialog-title] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #d8dadd;
}

.mat-mdc-dialog-surface {
  background-color: white !important;
}

.mdc-dialog__surface {
  background-color: white !important;
}

::before {
  background-color: white !important;
}

[mat-dialog-title] h2 {
  font-size: 24px;
  margin: 0;
}

/* Style the close button */
[mat-dialog-title] button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 16px;
  top: 16px;
}
