<div class="container-fluid">
  <div
    *ngIf="isLoading; else ready"
    style="display: flex; align-items: center; justify-content: center"
  >
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #ready>
    <div class="row">
      <div class="col-md-12 right-side-align">
        <input
          type="text"
          [(ngModel)]="searchString"
          placeholder="Filter By..."
          (ngModelChange)="filterProducts()"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="category-container">
          <div
            class="category-card"
            *ngFor="let category of filteredCat"
            [class.active]="selectedCategory === category"
            (click)="filterByCategory(category)"
          >
            <img class="img-category" src="assets/images/{{ category }}.png" />
            <span>{{ category }}</span>
          </div>
          <div
            class="category-card"
            [class.active]="selectedCategory === 'ALL'"
            (click)="filterByCategory('ALL')"
          >
            <img class="img-category" src="assets/images/AllCategories.png" />
            <span>All Products</span>
          </div>
          <!-- <div
            class="category-card"
            [class.active]="selectedCategory === 'New'"
            (click)="filterByCategory('New')"
          >
            <img class="img-responsive" src="assets/images/NewCategory.png" />
            <span>All Products</span>
          </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="product-container">
          <ng-container
            *ngFor="let array of filteredProducts"
            class="product-container-content"
          >
            <div
              class="product-card"
              *ngIf="
                array.length < 2 &&
                array[0] &&
                array[0].stock &&
                array[0].stock > 0
              "
            >
              <div>
                <div style="position: relative">
                  <img
                    (click)="addProductToOrder(array[0])"
                    class="img-responsive"
                    [src]="sanitizeImage(array[0].image)"
                    crossorigin="anonymous"
                    *ngIf="array[0].image != 'false'"
                  />
                  <!--INFO card to show product count/variants accross stores goes here-->
                  <!-- <img
                    style="max-width: 30px; max-height: 30px"
                    src="assets/images/info6.png"
                    (click)="queryStoresForStock(array[0])"
                  /> -->
                  <mat-icon
                    class="info-button"
                    (click)="queryStoresForStock(array[0])"
                    >info</mat-icon
                  >
                </div>

                <div
                  class="product-card-info"
                  (click)="addProductToOrder(array[0])"
                >
                  <h4>{{ array[0].name }}</h4>
                  <p>Price: {{ array[0].price | number: "1.2-2" }}</p>
                  <p>Stock: {{ array[0].stock }}</p>
                </div>
              </div>
            </div>
            <div
              class="product-card"
              *ngIf="array.length >= 2 && totalProductCount(array) > 0"
            >
              <div *ngIf="totalProductCount(array) > 0">
                <div style="position: relative">
                  <img
                    class="img-responsive"
                    [src]="sanitizeImage(array[0].image)"
                    (click)="openVariantModal(array)"
                    crossorigin="anonymous"
                    *ngIf="array[0].image != 'false'"
                  />
                  <mat-icon
                    class="info-button"
                    (click)="queryStoresForStock(array[0])"
                    >info</mat-icon
                  >
                </div>

                <div
                  class="product-card-info"
                  (click)="openVariantModal(array)"
                >
                  <h4>{{ array[0].variantName }}</h4>
                  <p>Total Count: {{ totalProductCount(array) }}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-template>
</div>
