<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title class="bg-beige">
    <h2>SPLIT ORDER</h2>
    <button aria-label="close dialog" mat-dialog-close (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <!--Create a split drag and drop location
    that displays each product in the current order
    ,second order has a field to be given a nickname
    "splitAndMakeOrders" finalizes the process.-->
    <div id="listContainer" class="lists-container">
      <div class="example-container">
        <h2>Original Order</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="originalOrderProducts"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of originalOrderProducts"
            cdkDrag
          >
            {{ item.name }}
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>New Order</h2>
        <div class="order-details">
          <label>Assign a nickname to this order:</label>
          <input type="text" [(ngModel)]="newOrderNickname" />
        </div>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="newOrderProducts"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of newOrderProducts"
            cdkDrag
          >
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="confirm-or-deny-buttons">
        <button
          mat-icon-button
          aria-label="confirm edit"
          class="btn btn-success mr-3"
          style="margin-right: 1rem"
          mat-dialog-close
          (click)="splitAndMakeOrders()"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="cancel edit"
          class="btn btn-danger"
          mat-dialog-close
          (click)="close()"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
