<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title>
    <h2>SELECT PRICE LIST:</h2>
    <button aria-label="close dialog" mat-dialog-close (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="info-card">
      <label>Select an available pricelist for {{ locationName }}: </label>
      <div *ngFor="let priceList of displayPriceLists">
        <button
          (click)="selectePriceList(priceList)"
          [disabled]="priceList.id == selectedPriceListVal"
        >
          <label>{{ priceList.name }}</label>
          <label *ngIf="priceList.id == selectedPriceListVal">
            CURRENTLY SELECTED</label
          >
        </button>
      </div>
    </div>
    <div>
      <div>
        <button
          mat-icon-button
          aria-label="confirm edit"
          mat-dialog-close
          (click)="updateChosenPriceList()"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="cancel edit"
          mat-dialog-close
          (click)="close()"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
