.info-card {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

[mat-dialog-title] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

[mat-dialog-title] h2 {
  font-size: 24px;
  margin: 0;
}
