<div style="min-width: 900px; max-height: 600px">
  <div mat-dialog-title class="bg-beige">
    <h2>SELECT PRICE LIST:</h2>
    <button aria-label="close dialog" mat-dialog-close (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="info-card">
      <h1>Select an available pricelist for {{ locationName }}:</h1>
      <div *ngFor="let priceList of displayPriceLists">
        <button
          style="margin-bottom: 5px"
          (click)="selectePriceList(priceList)"
          [disabled]="priceList.id == selectedPriceListVal"
        >
          <label style="padding-right: 5px">{{ priceList.name }}</label>
          <label *ngIf="priceList.id == selectedPriceListVal">
            CURRENTLY SELECTED</label
          >
        </button>
      </div>
    </div>
    <div>
      <div class="confirm-or-deny-buttons">
        <button
          mat-icon-button
          aria-label="confirm edit"
          mat-dialog-close
          class="btn btn-success mr-3"
          style="margin-right: 1rem"
          (click)="updateChosenPriceList()"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="cancel edit"
          mat-dialog-close
          class="btn btn-danger"
          (click)="close()"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
