/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}
.bg-beige {
  background-color: #d8dadd;
}

[mat-dialog-content] {
  background-color: white;
}

.confirm-or-deny-buttons {
  margin-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

:host :host {
  overflow: hidden;
}

.payment-screen-container {
  background-color: #d8dadd;
}

.mat-mdc-menu-panel {
  background-color: white !important;
  min-width: 15vh;
}

app-root {
  overflow-y: hidden;
}

.close-button-span {
  font-weight: 800;
  background-color: #d8dadd;
  min-width: 34px;
  min-height: 34px;
  font-size: 24px;
}
