/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bg-beige {
  background-color: beige;
}

[mat-dialog-content] {
  background-color: #e5d0d0;
}

.confirm-or-deny-buttons {
  margin-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

:host :host {
  overflow: hidden;
}
