<div>
  <div>user name:</div>
  <input type="text" id="username" name="username" [(ngModel)]="username" />
</div>

<div>
  <div>password:</div>
  <input type="password" id="password" name="password" [(ngModel)]="password" />
</div>
<!-- <button (click)="loginUser()">Login</button> -->

<div
  id="g_id_onload"
  data-client_id="857908989278-pi76j5ssnbllatmj931pd693dkmqijou.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-callback="handleOauthResponse"
  data-auto_prompt="false"
></div>
<!--Was present:data-login_uri="localhost:4200"-->
<!--Was added:data-callback="handleOauthResponse"-->
<div
  class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left"
></div>
